body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.flex {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.flex label {
    display: block;
    font-size: 14px;
    color: #a0a0a0;
}

input {
    width: 70px;
}

input.long-input {
    width: 250px;
}

.flex-load {
    display: flex;
    align-items: end;
}

.record-list {
    list-style: none;
    padding: 0;
}

.record-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.icon {
    margin-inline-end: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}

.start {
    color: green;
}

.stop {
    color: red;
}

.record-title {
    flex-grow: 1;
}

.record-status {
    padding: 2px 4px;
    margin-inline-end: 5px;
    border-radius: 5px;
}
